.about_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
}

.about_container_two{
    height: 770px;
    width:1492px;
    padding: 0px 0px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_container_three{
    height: 700px;
    width:1160px;
    padding: 0px 0px;
    background-color: transparent;
    border: 4px solid #daccfe;
    border-radius: 22px;
    margin: 0px 40px;
    padding: 20px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.about_container_three_left_scroll{
    animation: about_container_three_left-animation 1s ease-out 0s;
}
@keyframes about_container_three_left-animation {
    0%{position: relative; left:-100px;opacity: 0;}
    100%{position: relative; left:0px;opacity: 1;}
}
.about_container_three_right_scroll{
    animation: about_container_three_right-animation 1s ease-out 0s;
}
@keyframes about_container_three_right-animation {
    0%{position: relative; left:100px;opacity: 0;}
    100%{position: relative; left:0px;opacity: 1;}
}

.about_container_two_image{
    pointer-events: none;
    height:650px;
    width:300px;
    margin-top: 80px;
    margin-left: -45px;
}

.about_container_three_head{
    text-align:"center";
    font-variant:"small-caps";
    font-weight:"500";
    width:'100%';
    position:'sticky';
    top:"0"
}

.about_container_three_description_images{
    height:100px;
    width:200px;
    margin-top:20px ;
}
.about_container_three_description_images_s{
    height:200px;
    width: 250px;
}

.about_container_three_description_images_s2{
    height:fit-content;
    width:fit-content
}
.about_container_three_description_images_s3{
    height:200px;
    width:200px;
}
.about_container_three_description{
    font-style: oblique;
    line-height: 30px;
    font-size: 16px;

}
.about_container_three_description_comments_div{
    height:200px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_container_three_description_comments_p{
    width:200px;
    height:180px;
    padding: 12px;
    font-style: italic;
    color: #796969;
    font-weight: 10;
    border: 1px solid;
    border-radius: 12px;
    margin: 0px 20px;
}