
.landing_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #ffffff;
    background-size: cover;
    backdrop-filter: grayscale(10px);
    border-radius: 12px;
}

.landing_container_two_image1{
    animation: landing_container_two_image1-animation 1s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
}

@keyframes landing_container_two_image1-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 0px;opacity: 1;}
}

.landing_container_two_image2{
    animation: landing_container_two_image2-animation 1.3s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
}

@keyframes landing_container_two_image2-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 0px;opacity: 1;}
}
.landing_container_two_image3{
    animation: landing_container_two_image3-animation 1.3s ease-out 0s;
    filter:drop-shadow(2px 2px 4px #000);
}

@keyframes landing_container_two_image3-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 0px;opacity: 1;}
}
.landing_container_two_image4{
    animation: landing_container_two_image4-animation 1.9s ease-out 0s;
    filter:drop-shadow(2px 2px 24px #000);
    position: relative;
    top: 100px;
}

@keyframes landing_container_two_image4-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 100px;opacity: 1;}
}
.landing_container_two_image5{
    animation: landing_container_two_image5-animation 1.2s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
}

@keyframes landing_container_two_image5-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 0px;opacity: 1;}
}
.landing_container_two_image6{
    animation: landing_container_two_image6-animation 1.9s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
}

@keyframes landing_container_two_image6-animation {
    0%{position: relative;top: -1000px;opacity: 0;}
    100%{position: relative;top: 0px;opacity: 1;}
}

.landing_container_three{
    position: absolute;
    height: 140px;
    width: 400px;
    top: 0px;
    margin-left: 550px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-sizing: border-box;
    animation: landing_container_three-animation 2s ease 0s;
}
@keyframes landing_container_three-animation {
    0%{top: -1000px;opacity: 0;}
    100%{top: 0px;opacity: 1;}
}

.landing_container_three_changeAnimation{
    position: absolute;
    height: 140px;
    width: 400px;
    top: 0px;
    margin-left: 550px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-sizing: border-box;
    animation: landing_container_three_changeAnimation-animation 2s ease 0s;
    opacity: 0;
}

@keyframes landing_container_three_changeAnimation-animation {
    0%{top: 0px;opacity: 0;}
    100%{top: -500px;opacity: 1;}
}

.landing_container_three_head{
    font-weight:100;
    font-size:60px;
    font-family: cursive;
    font-weight: lighter;
    /* background-color: #fff; */
    /* filter:drop-shadow(1px 1px 1px #000); */
    font-style: italic;
}
.landingpage_button{
    height:50px;
    width:220px;
    background-color: transparent;
    outline: none;
    border: 3px solid #a7cede;
    border-radius: 12px;
    margin:0px 20px 0px 0px;
    color: #000;
    cursor: pointer;
    backdrop-filter: blur(12px);
    font-size: 20px;
    font-variant: small-caps;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    animation: landingpage_button-animation 2s ease 0s;
}
@keyframes landingpage_button-animation {
    0%{position: relative;top:200px;opacity: 0;}
    100%{position: relative;top:0px;opacity: 1;}
}
.landingpage_button:hover{
    height:50px;
    width:230px;
    background-color: #000;
    color: #fff;
}

.landingpae_div_hidden{
    display: none
}
.landingpae_div_visible{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: -90px;
    margin-left: 990px;
}


.landingpae_div_hidden_button{
    height:50px;
    width:220px;
    background-color: transparent;
    outline: none;
    border: 3px solid #a7cede;
    border-radius: 12px;
    margin:0px 20px 0px 0px;
    color: #000;
    cursor: pointer;
    backdrop-filter: blur(12px);
    font-size: 20px;
    font-variant: small-caps;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    animation: landingpae_div_hidden_button-animation 1s ease 0s ;
}
@keyframes landingpae_div_hidden_button-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.landingpae_div_hidden_button:hover{
    height:50px;
    width:230px;
    background-color: #000;
    color: #fff;
    border: none;
}


.landing_container_two_changeAnimation1{
    animation: landing_container_two_changeAnimation1-animation 1s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation1-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: 20px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}

.landing_container_two_changeAnimation2{
    animation: landing_container_two_changeAnimation2-animation 1.3s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation2-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: 20px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}
.landing_container_two_changeAnimation3{
    animation: landing_container_two_changeAnimation3-animation 1.3s ease-out 0s;
    filter:drop-shadow(2px 2px 4px #000);
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation3-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: 20px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}
.landing_container_two_changeAnimation4{
    animation: landing_container_two_changeAnimation4-animation 1.9s ease-out 0s;
    filter:drop-shadow(2px 2px 24px #000);
    position: relative;
    top: 100px;
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation4-animation {
    0%{position: relative;top: 100px;opacity: 1;}
    10%{position: relative;top: 120px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}
.landing_container_two_changeAnimation5{
    animation: landing_container_two_changeAnimation5-animation 1.2s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation5-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: 20px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}
.landing_container_two_changeAnimation6{
    animation: landing_container_two_changeAnimation6-animation 1.9s ease-out 0s;
    filter:drop-shadow(2px 2px 10px #000);
    opacity: 0;
}

@keyframes landing_container_two_changeAnimation6-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: 20px; opacity: 1;}
    100%{position: relative;top: -1000px;opacity: 0;}
}

.landing_container_centerdiv_changedAnimation{
    animation: landing_container_centerdiv_changedAnimation-animation 1.4s ease 0s;
    opacity: 0;
}
@keyframes landing_container_centerdiv_changedAnimation-animation {
    0%{position: relative;top: 0px;opacity: 1;}
    10%{position: relative;top: -20px;opacity: 1;}
    100%{position: relative;top:400px;opacity: 0;}
}